﻿html, body {
    font-family: 'Podkova', serif;
}
h1 {
    text-align: center;
    font-size: 62px;
}

h2 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

label {
    font-weight:bold;
    font-size: 24px;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}
