﻿@model AuthService.ViewModels.OAuth.OAuthViewModel

<form asp-controller="OAuth" asp-action="OAuth" method="post">
    <input type="hidden"  class="form-control" id ="RedirUrl"  name ="RedirUrl" value="@Model.RedirUrl" />
    <div>
        <label>Username</label>
        <input class="form-control" id ="Username"  name ="Username" value="@Model.Username"/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" id ="Password"  name ="Password" value="@Model.Password" class="form-control" />
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
</form> 